@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation slide up pour le texte du Showcase */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out;
}
